
body {
	background-color: #FEFEFE;
	font-family: verdana, sans-serif;
	color: #C8C8C8;
}

.image {
	left: 550px;
	position: fixed;
}

.content {
	left: 200px;
	top: 150px;
	background-color: #FEFEFE;
	font-family: verdana, sans-serif;
	color: #C8C8C8;
	position: fixed;
	height: 500px;
	width: 400px;
	text-align: justify;
	padding: 10px;
}

.content a {
	color: #ADADAD;
	font-family: verdana, sans-serif;
	text-decoration: underline;
}

.content a:hover {
	color: #8F8F8F;
	font-family: verdana, sans-serif;
	text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FEFEFE; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FEFEFE; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C8C8C8;
}